.footer {
    display: flex;
    margin: 0;
    border-top: 1px solid #858585;
    width: 100%;
    gap: 3em;
}

.footer__texto {
    color: black;
    margin: 1em 0 2em 1em;
    text-align: center;
    text-transform: uppercase;
}

.lista-topicos {
    display: none;
}

@media (min-width: 1024px){

    .footer__texto {
        font-size: 1.5rem;
        margin: 2em 0 2em 1em;   
        justify-content: space-around;     
    }

    .lista-topicos {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 3.4em;        
    }

    .lista__titulo {
        text-transform: uppercase;
        font-size: 14px;
        color: var(--cinza2);
    }

    .lista__item {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 14px;
        color: var(--cinza);
    }

}

@media (min-width: 1728px) {

    .footer {
        margin-bottom: 2em;
    }

    .footer__texto {
        margin: 2em 1em 2em 8em;
    }

    .lista-topicos {
        border-left: 1px solid #858585;
        padding: 0 1em;
        margin-right: 5em;
    }

}