.wrap {
  width: 100%;
}

.banner {
  background-image: url('/assets/img/Banner-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 278px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 4rem 0;
}

.btn {
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  height: 44px;
  text-decoration: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  color: #cecdcd;
  border-radius: 10px;
  border-bottom: 2px solid var(--text-description-color);
}

.livros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.livro {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 644px;
  margin-bottom: 1rem;
}

.indisponivel {
  opacity: 0.3;
}

.livro__titulo {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.livro__descricao {
  text-align: center;
  font-size: 18px;
  color: var(--cinza2);
  margin: 1rem 0;
}

.livro__preco {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--cor-fonte-primaria);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.tag {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-tag-color);
  padding: 5px 4px;
  background: rgba(197, 197, 197, 0.25);
  border-radius: 4px;
  margin-right: 1rem;
}

.livros__disponiveis {
  width: 100%;
  height: 80px;
  background-color: var(--laranja);
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.livros__disponiveis p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  font-size: 2.5em;
} 

@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
  }
}

@media (max-width: 425px) {
  .banner {
    background-image: url(/assets/img/Banner-1-mobile.png);
    background-size: 425px 100%;
  }

  .livro {
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }
}